.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0px 20px;
    background-color: #607274;

}

.title{
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin-left: 15px;

}
.title:hover{
    color: gainsboro;
}
.header-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    color: white;
}
.header-icon:hover *{
    color: gainsboro;
}