footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    margin: 0px;
    padding: 0px;
    background-color: #607274;

}
.about-me{
    font-size: 20px;
    color: white;
    text-decoration: none;
    white-space: nowrap;
}
.about-me:hover{
    color: gainsboro;
}