body {
  background-color: #FAEED1;
  background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");
}
.grid-container {
  display: grid;
  grid-template-rows: 50px auto 30px;
  height: 100vh;
}
.page-grid-test{
  display: grid;
}
.sidebar-div{
  background-color: #607274;
}
.page {
  background-color: white;
  margin: 20px 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
}
.no-posts{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
