textarea{
    height: 120px;
}
.post *{
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    
}
.post{
    width: 60%;
    margin: 30px 0px;
    border-radius: 20px;
}
.post-title{
    width: calc(100% - 20px);
    margin: 10px;
    font-weight: 500;
    border: none;
    background-color: transparent;
    font-size: 28px;

}
.post-body{
    margin: 10px;
}
.post-text{
    margin: 10px;
    border: none;
    background-color: transparent;
    width: calc(100% - 20px);
    text-align: justify;
    font-size: 18px;
    resize: none;
}
.separator{
    width: 100%;
    height: 1px;
    background-color: black;
}
.aditional-info{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin: 10px;
    margin-right: 50px;
    
}
.topic{
    padding: 5px;
    border-radius: 10px;
    color: white;
}
.btns{
    margin: 10px;
    display: flex;
    align-items: center;

}
.hidden-btns{
    display: flex;
    align-items: center;
}
.post-btn{
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 1px;
    height: 35px;
    padding: 0px 15px;
    font-size: 18px;
    color: white;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
}
.edit{
    margin-right: 15px;
    color: green;
}
.delete{
    color: red;
}
.close{
    margin-left: auto;
}
.icon:hover{
    color: black;
}



.post-btn:hover{
    color: rgb(244, 244, 172);
}
.big-post{
    border-radius: 20px;
    border: 1px solid black;
}
.small:hover{
    border-radius: 15px;
    background-color: whitesmoke;
}
.about{
    margin-left: 10px;
}
.edit-label{
    margin: 10px 0px 0px 10px;
    font-size: 20px;
    color: gray;
}
.edit-topic{
    display: flex;
}
.edit-select{
    margin: 10px 0px 0px 10px;
    font-size: 20px;
}